The directives in multipart's Content-Disposition are not required to be quoted in RFCs

### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Content-Disposition#as_a_header_for_a_multipart_body

### What specific section or headline is this issue about?

As a header for a multipart body

### What information was incorrect, unhelpful, or incomplete?

According to [MDN's documentation](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Content-Disposition#as_a_header_for_a_multipart_body), the values must be quoted. But I can't find the corresponding statements in RFC (both newer [RFC 7578](https://www.rfc-editor.org/rfc/rfc7578#section-4.2) and older [RFC 2388](https://www.rfc-editor.org/rfc/rfc2388#section-3)).

Since [RFC 7578](https://www.rfc-editor.org/rfc/rfc7578#section-4.2) doesn't have a declaration for the Content-Disposition header, [RFC 6266](https://httpwg.org/specs/rfc6266.html#n-grammar) applies:

[4.1.](https://httpwg.org/specs/rfc6266.html#rfc.section.4.1) [Grammar](https://httpwg.org/specs/rfc6266.html#n-grammar)

<pre>
  content-disposition = "Content-Disposition" ":"
                         disposition-type *( ";" disposition-parm )

  disposition-type    = "inline" | "attachment" | disp-ext-type
                      ; case-insensitive
  disp-ext-type       = token

  disposition-parm    = filename-parm | disp-ext-parm

  filename-parm       = "filename" "=" value
                      | "filename*" "=" ext-value
  
  disp-ext-parm       = token "=" value
                      | ext-token "=" ext-value
  ext-token           = &lt;the characters in token, followed by "*">
</pre>

Defined in [[RFC2616]](https://httpwg.org/specs/rfc6266.html#RFC2616):

<pre>
  token         = &lt;token, defined in [[RFC2616]](https://httpwg.org/specs/rfc6266.html#RFC2616), [Section 2.2](https://www.rfc-editor.org/rfc/rfc2616.html#section-2.2)>
  quoted-string = &lt;quoted-string, defined in [[RFC2616]](https://httpwg.org/specs/rfc6266.html#RFC2616), [Section 2.2](https://www.rfc-editor.org/rfc/rfc2616.html#section-2.2)>
  value         = &lt;value, defined in [[RFC2616]](https://httpwg.org/specs/rfc6266.html#RFC2616), [Section 3.6](https://www.rfc-editor.org/rfc/rfc2616.html#section-3.6)>
                ; token | quoted-string
</pre>
              
Defined in [[RFC5987]](https://httpwg.org/specs/rfc6266.html#RFC5987):

<pre>
  ext-value   = &lt;ext-value, defined in [[RFC5987]](https://httpwg.org/specs/rfc6266.html#RFC5987), [Section 3.2](https://www.rfc-editor.org/rfc/rfc5987.html#section-3.2)>
</pre>

### What did you expect to see?

Through it's not required by the standard, many HTTP server implementations expect the values to be quoted. I think the fact should be pointed out, instead of statementing the quotes to be "required".

### Do you have any supporting links, references, or citations?

_No response_

### Do you have anything more you want to share?

_No response_

Thanks for posting. IMO it isn't so much that the HTTP server implementations expect them as the quotes are "effectively required" and hence safer in most cases. 

Specifically the value is allowed to be a token or a quoted string, but a token must be US-ASCII for MIME type headers such as content-disposition

> Current [[RFC 2045](https://www.rfc-editor.org/rfc/rfc2045)] grammar restricts parameter values (and hence
   Content-Disposition filenames) to US-ASCII

US-ASCII does not allow things like `.`, spaces, `/` which are common in filenames and other strings. So in the case of a filename, yes you could choose not to quote, but only if the filename had no extension. 

The spec looks like it allows extension parameters here too that are also values; while these extensions are unlikely they are possible - so again you would be safer with a quoted string.

In summary, you have a point. We should make it clear that quoted values are safer because generally the unquoted form may spaces and other characters that are not allowed.

Would you like to create a PR to that effect?

