Issue with "Content-Encoding": "identity" is not a valid value for the Content-Encoding header

MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding

#### What information was incorrect, unhelpful, or incomplete?

The documentation provides examples with token values of "identity" for the Content-Encoding header, and a statement that the identity token, except if explicitly specified, is always deemed acceptable.

However, I believe the identity token is disallowed per the RFCs.  While the identity representation of content may be allowed, the identity token should not be used in the Content-Encoding header.

#### Specific section or headline?

Syntax

Directives

#### What did you expect to see?

Per the RFCs, the identity transform is allowed, but should not be included as a token on the Content-Encoding header.

#### Did you test this? If so, how?

Relevant RFC references:

[RFC 2616, Section 3.5](https://tools.ietf.org/html/rfc2616#section-3.5):

> identity
> The default (identity) encoding; the use of no transformation
> whatsoever. This content-coding is used only in the Accept-
> Encoding header, and **SHOULD NOT be used in the Content-Encoding
> header.**

RFC 7231 is less direct about forbidding the use of "identity" as a token in the content header, but is implied through the allowed syntax

[Section 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4):
> Accept-Encoding  = #( codings [ weight ] )
> codings          = content-coding / "identity" / "*"

combined with[ Section 3.1.2.2](https://tools.ietf.org/html/rfc7231#section-3.1.2.2):

>Content-Encoding = 1#content-coding

implies that "identity" is not a valid token for the Content-Encoding header.

Additionally, [Section 8.4.2](https://tools.ietf.org/html/rfc7231#section-8.4.2) specifically mentions the use of "identity" in Accept-Encoding, but does not reference Content-Encoding:

>    The "HTTP Content Coding Registry" has been updated with the
>    registrations below:
> 
>    ```
>    +----------+----------------------------------------+---------------+
>    | Name     | Description                            | Reference     |
>    +----------+----------------------------------------+---------------+
>    | identity | Reserved (synonym for "no encoding" in | Section 5.3.4 |
>    |          | Accept-Encoding)                       |               |
>    +----------+----------------------------------------+---------------+
>    ```


<!-- Do not make changes below this line -->
<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/headers/content-encoding`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding
* GitHub URL: https://github.com/mdn/content/blob/master/files/en-us/web/http/headers/content-encoding/index.html
* Last commit: https://github.com/mdn/content/commit/2d423bd1a98b85b8584f08990792ebf39fcea56b
* Document last modified: 2021-01-09T13:41:23.000Z

</details>