Issue with "MIME types (IANA media types)":  (`text/javascript` vs. `application/javascript`)

MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types

#### What information was incorrect, unhelpful, or incomplete?
A MIME-type for JS files is noted as `text/javascript`, while it is obsolete and should be updated to `application/javascript`.
According to [RFC 4329 §7.1](https://tools.ietf.org/html/rfc4329#section-7.1), `text/javascript` is obsolete.

#### Specific section or headline?
[`text/javascript`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types#textjavascript)

#### What did you expect to see?
`text/javascript` should be marked as obsolete

P.S. Perhaps there are other pages on MDN Documentation where `text/javascript` is noted as a standard, not obsolete MIME-type for JavaScript files instead of `application/javascript`.

<!-- Do not make changes below this line -->
<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/basics_of_http/mime_types`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types
* GitHub URL: https://github.com/mdn/content/blob/main/files/en-us/web/http/basics_of_http/mime_types/index.html
* Last commit: https://github.com/mdn/content/commit/532a80a8505710afacbd36f9247f09791b1bf575
* Document last modified: 2021-03-26T23:24:20.000Z

</details>

If fact `text/javascript` is what’s currently recommended, per the following sources:

* https://html.spec.whatwg.org/multipage/#scriptingLanguages
  > Servers should use text/javascript for JavaScript resources.
* https://datatracker.ietf.org/doc/draft-ietf-dispatch-javascript-mjs/
  > current implementations should use text/javascript as the only JavaScript/ECMAScript media type



> If fact `text/javascript` is what’s currently recommended

Well, you're right:

> This document obsoletes RFC4329, "Scripting Media Types".

it looks like RFC 4329 is obsoleted.

Well, it looks like RFC 4329 is obsoleted.

> It looks like RFC 4329 is obsoleted.

Yeah — in practice it has a been obsoleted already for a long time now, but in the world of getting RFCs formally obsoleted, the wheels turn very slowly.