Incorrect example of HTTP1.1 pipelining in `Evolution of HTTP`

### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Evolution_of_HTTP#http1.1_%E2%80%93_the_standardized_protocol

### What specific section or headline is this issue about?

HTTP/1.1 – The standardized protocol > the first codeblock

### What information was incorrect, unhelpful, or incomplete?

```
GET /en-US/docs/Glossary/Simple_header HTTP/1.1
Host: developer.mozilla.org
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://developer.mozilla.org/en-US/docs/Glossary/Simple_header

200 OK
Connection: Keep-Alive
Content-Encoding: gzip
Content-Type: text/html; charset=utf-8
Date: Wed, 20 Jul 2016 10:55:30 GMT
Etag: "547fa7e369ef56031dd3bff2ace9fc0832eb251a"
Keep-Alive: timeout=5, max=1000
Last-Modified: Tue, 19 Jul 2016 00:59:33 GMT
Server: Apache
Transfer-Encoding: chunked
Vary: Cookie, Accept-Encoding

(content)

GET /static/img/header-background.png HTTP/1.1
Host: developer.mozilla.org
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0
Accept: */*
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://developer.mozilla.org/en-US/docs/Glossary/Simple_header

200 OK
Age: 9578461
Cache-Control: public, max-age=315360000
Connection: keep-alive
Content-Length: 3077
Content-Type: image/png
Date: Thu, 31 Mar 2016 13:34:46 GMT
Last-Modified: Wed, 21 Oct 2015 18:27:50 GMT
Server: Apache

(image content of 3077 bytes)

```
Here we can see some example of multiple pipelined HTTP1.1 requests, however this example is incorrect, the issue is the boundry between the end of the first body and the start of the second request (technically this is legal since thoses are on different directions of the TCP stream, the real issue is the boundary between the first response body and the second response since they are the first clashing things on the server -> client stream):
```
(content)

GET /static/img/header-background.png HTTP/1.1
```

### What did you expect to see?

Swap the order of the known and unknown `Content-Length` requests.
> ```
> GET /en-US/docs/Glossary/Simple_header HTTP/1.1
> Host: developer.mozilla.org
> User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0
> Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
> Accept-Language: en-US,en;q=0.5
> Accept-Encoding: gzip, deflate, br
> Referer: https://developer.mozilla.org/en-US/docs/Glossary/Simple_header
> 
> 200 OK
> Connection: Keep-Alive
> Content-Encoding: gzip
> Content-Length: 3077
> Content-Type: text/html; charset=utf-8
> Date: Wed, 20 Jul 2016 10:55:30 GMT
> Etag: "547fa7e369ef56031dd3bff2ace9fc0832eb251a"
> Keep-Alive: timeout=5, max=1000
> Last-Modified: Tue, 19 Jul 2016 00:59:33 GMT
> Server: Apache
> Transfer-Encoding: chunked
> Vary: Cookie, Accept-Encoding
> 
> (content content of 3077 bytes)
> 
> GET /static/img/header-background.png HTTP/1.1
> Host: developer.mozilla.org
> User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0
> Accept: */*
> Accept-Language: en-US,en;q=0.5
> Accept-Encoding: gzip, deflate, br
> Referer: https://developer.mozilla.org/en-US/docs/Glossary/Simple_header
> 
> 200 OK
> Age: 9578461
> Cache-Control: public, max-age=315360000
> Connection: keep-alive
> Content-Type: image/png
> Date: Thu, 31 Mar 2016 13:34:46 GMT
> Last-Modified: Wed, 21 Oct 2015 18:27:50 GMT
> Server: Apache
> 
> (image)
> ```
> ***connection close***
> Here the connection is closed by the server indicating end of the `image` because:
> 1. `GET` is not a response-body-less method.
> 2. `Transfer-Encoding` is not set.
> 3. `Content-Length` is not set.
> 4. `Content-Type` is not `multipart/byteranges`.
> 5. The server is then forced to close the connection.
> For more information see RFC2616 section 4.4.

An other alternative is to demonstrate chunked encoding.

### Do you have any supporting links, references, or citations?

RFC2616 Section 4.4:
> 4.4 Message Length
>    The transfer-length of a message is the length of the message-body as it appears in the message; that is, after any transfer-codings have been applied. When a message-body is included with a message, the transfer-length of that body is determined by one of the following (in order of precedence):
>    1. Any response message which "MUST NOT" include a message-body (such as the 1xx, 204, and 304 responses and any response to a HEAD request) is always terminated by the first empty line after the header fields, regardless of the entity-header fields present in the message.
>    2. If a Transfer-Encoding header field (section 14.41) is present and has any value other than "identity", then the transfer-length is defined by use of the "chunked" transfer-coding (section 3.6), unless the message is terminated by closing the connection.
>    3. If a Content-Length header field (section 14.13) is present, its decimal value in OCTETs represents both the entity-length and the transfer-length. The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present). If a message is received with both a Transfer-Encoding header field and a Content-Length header field, the latter MUST be ignored.
>    4. If the message uses the media type "multipart/byteranges", and the transfer-length is not otherwise specified, then this self- delimiting media type defines the transfer-length. This media type MUST NOT be used unless the sender knows that the recipient can parse it; the presence in a request of a Range header with multiple byte- range specifiers from a 1.1 client implies that the client can parse multipart/byteranges responses.
>       A range header might be forwarded by a 1.0 proxy that does not
>       understand multipart/byteranges; in this case the server MUST
>       delimit the message using methods defined in items 1,3 or 5 of
>       this section.
>    5. By the server closing the connection. (Closing the connection cannot be used to indicate the end of a request body, since that would leave no possibility for the server to send back a response.)
> 
>    For compatibility with HTTP/1.0 applications, HTTP/1.1 requests containing a message-body MUST include a valid Content-Length header field unless the server is known to be HTTP/1.1 compliant. If a request contains a message-body and a Content-Length is not given, the server SHOULD respond with 400 (bad request) if it cannot determine the length of the message, or with 411 (length required) if it wishes to insist on receiving a valid Content-Length.
>    All HTTP/1.1 applications that receive entities MUST accept the "chunked" transfer-coding (section 3.6), thus allowing this mechanism to be used for messages when the message length cannot be determined in advance.
>    Messages MUST NOT include both a Content-Length header field and a non-identity transfer-coding. If the message does include a non- identity transfer-coding, the Content-Length MUST be ignored.
>    When a Content-Length is given in a message where a message-body is allowed, its field value MUST exactly match the number of OCTETs in the message-body. HTTP/1.1 user agents MUST notify the user when an invalid length is received and detected. 

### Do you have anything more you want to share?

_No response_

Hi there! Thanks a lot for reporting this and sorry it was lying idle for a long time. I'm not sure this is intending to demonstrate pipelining because the request / responses are sequential. It could be that the author wanted to show `Transfer-Encoding: chunked` somewhere, but I'm not sure.

It may be better to remove `Transfer-Encoding: chunked` from the first response and add a content length instead.