Accept-Encoding should be valid for both Request & Response, instead of only for Request

### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding

### What specific section or headline is this issue about?

Header type

### What information was incorrect, unhelpful, or incomplete?

Header type should be Request header & Response header, instead of only Request header

### What did you expect to see?

Request header & Response header

### Do you have any supporting links, references, or citations?

RFC 9110, Section 12.5.3

When sent by a server in a response, Accept-Encoding provides information about which content codings are preferred in the content of a subsequent request to the same resource.

https://www.rfc-editor.org/rfc/rfc9110#name-accept-encoding

### Do you have anything more you want to share?

_No response_

### MDN metadata

<!-- Do not make changes below this line -->
<details>
<summary>Page report details</summary>

* Folder: `en-us/web/http/headers/accept-encoding`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding
* GitHub URL: https://github.com/mdn/content/blob/main/files/en-us/web/http/headers/accept-encoding/index.md
* Last commit: https://github.com/mdn/content/commit/92b03e46cef6be37de60799363e3e33e3415b491
* Document last modified: 2024-10-30T19:43:09.000Z

</details>

Super, thanks a lot for flagging. I've assigned myself to fix this one.