ABNF for JSON is using the obsoleted RFC 4627

### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON

### What specific section or headline is this issue about?

Full JSON grammar

### What information was incorrect, unhelpful, or incomplete?

The ABNF starts with the following line:
```
JSON-text = object / array
```
which corresponds to the ABNF described in RFC 4627 

### What did you expect to see?

The ABNF should start with the following line:
```
JSON-text = ws value ws
```
which corresponds to the ABNF described in RFC 8259 

### Do you have any supporting links, references, or citations?

RFC 4627: https://datatracker.ietf.org/doc/html/rfc4627
RFC 8259: https://datatracker.ietf.org/doc/html/rfc8259
RFC 7158: https://datatracker.ietf.org/doc/html/rfc7158

### Do you have anything more you want to share?

Additionally, the section "Appendix A.  Changes from RFC 4627" of RFC 7158 describes the following change:

> o  Changed the definition of "JSON text" so that it can be any JSON value, removing the constraint that it be an object or array.