Issue with "Properly configuring server MIME types": (`text/javascript` vs. `application/javascript`)

MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Configuring_server_MIME_types

#### What information was incorrect, unhelpful, or incomplete?

> _While browsers may support any, some, or all of these alternative MIME types, you should **only** use `text/javascript` to indicate the MIME type of JavaScript files._

According to [RFC 4329 §7.1](https://tools.ietf.org/html/rfc4329#section-7.1), `text/javascript` is obsolete.

#### Specific section or headline?
[JavaScript legacy MIME types](https://developer.mozilla.org/en-US/docs/Learn/Server-side/Configuring_server_MIME_types#javascript_legacy_mime_types)

#### What did you expect to see?

> _While browsers may support any, some, or all of these alternative MIME types, you should **only** use `application/javascript` to indicate the MIME type of JavaScript files._

P.S. Perhaps there are other pages on MDN Documentation where `text/javascript` is noted as a standard, not obsolete MIME-type for JavaScript files instead of `application/javascript`.

<!-- Do not make changes below this line -->
<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/server-side/configuring_server_mime_types`
* MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Configuring_server_MIME_types
* GitHub URL: https://github.com/mdn/content/blob/main/files/en-us/learn/server-side/configuring_server_mime_types/index.html
* Last commit: https://github.com/mdn/content/commit/41be28f3684df67a63c3c88e0143997de2e337e6
* Document last modified: 2021-02-09T18:26:50.000Z

</details>

Duplicate of https://github.com/mdn/content/issues/4077