Contradiction to RFC - parameter 'realm' in Basic authentication scheme should be required, not optional

### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

* Parameter `realm` is marked as **optional** in this fragment:  
https://github.com/mdn/content/blob/a349e5659fc08a627dc87a634fff049b4bcc12ce/files/en-us/web/http/headers/www-authenticate/index.md?plain=1#L95-L98

* Parameter `realm` is called **optional**, the first example **omits** `realm` from the `WWW-Authenticate` header in this fragment:
https://github.com/mdn/content/blob/a349e5659fc08a627dc87a634fff049b4bcc12ce/files/en-us/web/http/headers/www-authenticate/index.md?plain=1#L68-L74

### What did you expect to see?

* Parameter `realm` to be marked as **required** in this fragment:  
https://github.com/mdn/content/blob/a349e5659fc08a627dc87a634fff049b4bcc12ce/files/en-us/web/http/headers/www-authenticate/index.md?plain=1#L95-L98

* Parameter `realm` to be referred to as **required**, and the first example where `realm` is omitted to be removed from the fragment:
https://github.com/mdn/content/blob/a349e5659fc08a627dc87a634fff049b4bcc12ce/files/en-us/web/http/headers/www-authenticate/index.md?plain=1#L68-L74

### Do you have any supporting links, references, or citations?

Marking parameter `realm` as **optional** in the Basic authentication scheme contradicts RFC.

[RFC 7617, Section 2](https://datatracker.ietf.org/doc/html/rfc7617#section-2) explicitly states that parameter `realm` is **required** in the Basic authentication scheme:
```
The Basic authentication scheme utilizes the Authentication Framework as follows.
In challenges:
o  The scheme name is "Basic".
o  The authentication parameter 'realm' is REQUIRED ([RFC7235], Section 2.2).
```

It's predecessor, [RFC 2617](https://datatracker.ietf.org/doc/html/rfc2617) also defined parameter `realm` as **required**:
* [Section 1.2](https://datatracker.ietf.org/doc/html/rfc2617#section-1.2)
`The realm directive (case-insensitive) is required for all authentication schemes that issue a challenge.`
* [Section 2. Basic Authentication Scheme](https://datatracker.ietf.org/doc/html/rfc2617#section-2)
`There are no optional authentication parameters.`

### Do you have anything more you want to share?

_No response_

Much appreciated - you're right - I injected this error when I expanded the WWW-Authenticate docs out to specify the values for specific authentication schemes. Fixed by @codecruisedor in https://github.com/mdn/content/pull/28897