Issue with "Common MIME types":  (`text/javascript` vs. `application/javascript`)

MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types

#### What information was incorrect, unhelpful, or incomplete?
A MIME-type for JS files is noted as `text/javascript`, while it is obsolete and should be updated to `application/javascript`.
According to [RFC 4329 §7.1](https://tools.ietf.org/html/rfc4329#section-7.1), `text/javascript` is obsolete.

#### Specific section or headline?
.js | JavaScript: `text/javascript`, per the following specifications.


#### What did you expect to see?
.js | JavaScript: `application/javascript`, per the following specifications.

P.S. Perhaps there are other pages on MDN Documentation where `text/javascript` is noted as a standard, not obsolete MIME-type for JavaScript files instead of `application/javascript`.

<!-- Do not make changes below this line -->
<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/basics_of_http/mime_types/common_types`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
* GitHub URL: https://github.com/mdn/content/blob/main/files/en-us/web/http/basics_of_http/mime_types/common_types/index.html
* Last commit: https://github.com/mdn/content/commit/d09f89abb246d386172942c795b84e588deb462a
* Document last modified: 2021-03-22T00:39:07.000Z

</details>

Duplicate of https://github.com/mdn/content/issues/4077